<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
          
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
      <strong>Add Area</strong> 
</div>
<div  class="col-4 text-center">
  <img *ngIf="loading" height="20" width="20" src="assets/loader.gif">
</div>
<div class="col-sm-4 text-right">
    <a  routerLink="/area"> View Areas</a>
</div>
</div>
    </div>
    <form [formGroup]="form" autocomplete="off"  novalidate (ngSubmit)="onSubmit(form.value)">
    <div class="card-body">
        <div class="col-sm-6 form-group">
          <label>Area Name</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Enter area name">
          <span class="help-block text-danger" *ngIf="validateControl('name') && validateControl('name') && hasError('name','required')">Enter area name.</span>
          <span class="help-block text-danger" *ngIf="validateControl('name') && validateControl('name') && hasError('name','maxlength')">Area name cannot exceed 50 characters.</span>

        </div>
   
    </div>
    <div class="card-footer">
      <button type="submit" [disabled]="loading" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
    </div>
  </form>
  </div></div>  </div>  </div>